<h1>Create new question</h1>

<%= simple_form_for [@test, @question], :url => {:action => 'create'}, class: 'form-horizontal' do |f| %>
    <div>
      <%= f.input :question, label: 'Question', class: 'form-control' %>
    </div>

    <%= f.hidden_field :test_id, value: params[:test_id] %>
    <div>
      <%= f.submit 'Save', class: 'btn btn-success' %>
    </div>
<% end %>